@font-face{
    font-family: FortuneTeller;
    src: url("../fonts/carmencita/CARMENCI.TTF")
}
@font-face{
    font-family: myGameFont;
    src: url("../fonts/UNICORN_REGULAR.TTF")
}
body{
    background-image: url('../images/background.jpg');
    color: #ddd;
    text-shadow: 1px 1px #999;
    margin: auto;
    font-family: myGameFont;
    font-size: 30px;

}
header{
    margin: auto;
    font-size: 84px;
    text-align: center;
    text-shadow: none;

}
#headingDiv{
    height: 150px;
    margin-bottom: 20px;
}
.madam{
    height: 150px;
    width: 150px;
}
#madamReversed{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#titleFont{
    font-size: 96px;
    padding: 0 15px 0;
    font-family: FortuneTeller;
    color: rgb(255, 61, 61);


}
.gameFont{
    font-size: 0px;
    padding:0;
    margin:auto 0;

}
.gameColor{
    font-size:64px;
}
.gameYellow{
    color: rgb(196, 160, 0);
}
.gameRed{
    color: rgba(252, 49, 49, 0.76);
}
.gameBlue{
    color: rgba(108, 108, 253, 0.555);
}
.gameGreen{
    color: rgb(9, 212, 9);
}

.allGame{
    max-width:65%;
    position: relative;
    margin: auto;
    min-height: 150px;
    margin-top: 20px;
    color: #aaa
}
.counts{
    width: 33.333%;
    position: absolute;
    left: 0;
    top: 0
}
#rules{
    width:66.666%;
    position: absolute;
    top:0;
    left:33.333%;
    font-size: 32px;
    /* font-family: 'Times New Roman', Times, serif */
}

.crystals{
    margin:auto;
    text-align: center;
    margin-top:7%;
}
.gem{
    height: 125px;
    width: 150px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 10px;

}
.gem:hover{
    cursor: pointer;
}
